Repository jtudong/pan_firewall_dev_lab: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

pipelines/pipeline_main.yml:
  jobs:
  - job: prerequisites
    steps:
    - task: AzureCLI@2
      inputs:
        connectedServiceNameARM: ${{ parameters.azureServicePrincipal }}
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: 'az group create -l $(location) -n sfc-$(subnetPrefix)-$(environment)-rg
  
  ...

pipelines/pipeline_single_firewall.yml:
  stages:
  - stage: prerequisites
    jobs:
    - job: createResourceGroup
      steps:
      - task: AzureCLI@2
        inputs:
          connectedServiceNameARM: ${{ parameters.azureServicePrincipal }}
          scriptType: bash
          scriptLocation: inlineScript
  ...

firewall: update subnetDeployment dependsOn
  azure.azcli
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

fix pipeline name
  pipelines/pipeline_single_firewall.yml
Due: none

pipeline: add resource group tags
  azure.azcli
  pipelines/pipeline_single_firewall.yml
Due: pipelines/pipeline_main.yml

firewall: add dependency to subnets
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

firewall: static subnet depedencies
  azure.azcli
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

azure.azcli: update deployment group create command
  azure.azcli
Due: pipelines/pipeline_main.yml

azure.azcli: add resource ID example
  azure.azcli
Due: pipelines/pipeline_main.yml

update pipeline_single_firewall
  pipelines/azure-pipelines.yml
  pipelines/pipeline_main.yml
  pipelines/pipeline_single_firewall.yml
Due: none

refactor
  azure.azcli
  config/bootstrap.xml
  config/init-cfg.txt
  firewall.json
  firewall.parameters.json
  firewall.parameters.jsonc
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

azure.azcli rename resource group | bootstrap.xml update firewall name
  azure.azcli
  config/bootstrap.xml
Due: pipelines/pipeline_main.yml

pipeline: comment out overrideParameter bootstrapAccessKey
  pipelines/pipeline_single_firewall.yml
Due: none

delete old files | pipeline: uncomment overrideParameters bootstrapAccessKey
  client-parameters.json
  client.json
  pipelines/pipeline_single_firewall.yml
  server-parameters.json
  server.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

update azure.azcli
  azure.azcli
Due: pipelines/pipeline_main.yml

firewall: change bootstrapAccessKey parameter to securestring
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

edit azure.azcli line 20
  azure.azcli
Due: pipelines/pipeline_main.yml

azure.cli: fix vnet references
  azure.azcli
Due: pipelines/pipeline_main.yml

firewall: add test server
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

firewall: fix server static IP address
  firewall.json
  firewall.parameters.jsonc
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

update bootstrap.xml
  config/config_with_globalprotect.xml
Due: none

move non-azure cli commands to terminal.cli
  azure.azcli
Due: pipelines/pipeline_main.yml

move non-azure cli commands to terminal.cli
  docs/terminal.cli
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

restore azure.azcli
  azure.azcli
  docs/terminal.cli
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

pipeline: add delay
  pipelines/pipeline_single_firewall.yml
Due: none

pipeline: fix wait job
  pipelines/pipeline_single_firewall.yml
Due: none

pipeline: fix typo
  pipelines/pipeline_single_firewall.yml
Due: none

pipeline: add dependsOn to job wait
  pipelines/pipeline_single_firewall.yml
Due: none

firewall.parameters: update bootstrapStorageAccount
  firewall.parameters.jsonc
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

pipeline: add spacing to test_variables output
  pipelines/pipeline_single_firewall.yml
Due: none

pipeline: add job configureApiKey
  pipelines/pipeline_single_firewall.yml
Due: none

pipeline: edit spacing
  pipelines/pipeline_single_firewall.yml
Due: none

pipeline: fix sshEndpoint
  pipelines/pipeline_single_firewall.yml
Due: none

pipeline: comment out job configureApiKey
  config/bootstrap.xml
  config/config_with_globalprotect.xml
  pipelines/pipeline_single_firewall.yml
Due: none

add config versions
  config/1.xml
  config/2.xml
  config/3.xml
  config/4.xml
  config/5.xml
  config/bootstrap.xml
  config/running-config.xml
Due: none

bootstrap.xml: delete local-user-database
  config/bootstrap.xml
Due: none

update variables.azcli | azure.azcli: add az pipelines run
  azure.azcli
  variables.azcli
Due: pipelines/pipeline_main.yml

firewall.parameters: change adminUsername to localadmin
  firewall.parameters.jsonc
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

minor updates to azcli files
  azure.azcli
  variables.azcli
Due: pipelines/pipeline_main.yml

Path conditions:
  pipelines/pipeline_main.yml: any file but: pipelines/*.yml, docs/README.md, config, license
  pipelines/pipeline_single_firewall.yml: any file but: pipelines/*.yml, docs/README.md, config, license, *.azcli
