Repository jtudong/pan_firewall_dev_lab: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

Path conditions:
  pipelines/pipeline_main.yml: any file but: pipelines/*.yml, docs/README.md, config, license
  pipelines/pipeline_single_firewall.yml: any file but: pipelines/*.yml, docs/README.md, config, license, *.azcli

pipeline: delete commented code
  pipelines/pipeline_single_firewall.yml
Due: none

azure.azcli: update ssh command
  azure.azcli
Due: pipelines/pipeline_main.yml

update config directory
  config/1.xml
  config/2.xml
  config/3.xml
  config/4.xml
  config/5.xml
  config/running-config.xml
Due: none

firewall: modify PIP DNS names
  azure.azcli
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

add certserver.json; update azure.azcli
  azure.azcli
  certserver.json
  docs/certificates/aw3lpaltest01-mgmt/cert.pem
  docs/certificates/aw3lpaltest01-mgmt/chain.pem
  docs/certificates/aw3lpaltest01-mgmt/fullchain.pem
  docs/certificates/aw3lpaltest01-mgmt/privkey.pem
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

firewall: add bootDiagnostics; add certificates
  azure.azcli
  docs/certificates/aw3lpaltest01/cert.pem
  docs/certificates/aw3lpaltest01/chain.pem
  docs/certificates/aw3lpaltest01/fullchain.pem
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

firewall: comment out diagnosticsProfile
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

firewall: fix 671 missing .
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

certserver: add public key block as comment; azure.azcli: add cert server setup
  azure.azcli
  certserver.json
  docs/certificates/aw3lpaltest01-mgmt/cert.pem
  docs/certificates/aw3lpaltest01-mgmt/chain.pem
  docs/certificates/aw3lpaltest01-mgmt/fullchain.pem
  docs/certificates/aw3lpaltest01-mgmt/privkey.pem
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

azure.azcli: add domainNameLabel parameter for cert server deployment
  azure.azcli
Due: pipelines/pipeline_main.yml

update certificates, bootstrap
  azure.azcli
  config/running-config.xml
  docs/certificates/aw3lpaltest01/cert.pem
  docs/certificates/aw3lpaltest01/fullchain.pem
  docs/certificates/aw3lpaltest01/privkey.pem
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

update running-config
  azure.azcli
  config/running-config.xml
Due: pipelines/pipeline_main.yml

update bootstrap.xml
  config/bootstrap.xml
Due: none

move README
  docs/README.md
Due: none

update certserver - add copy function
  certserver.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

update aw3lpaltest01 certs
  docs/certificates/aw3lpaltest01/cert.pem
  docs/certificates/aw3lpaltest01/fullchain.pem
  docs/certificates/aw3lpaltest01/privkey.pem
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

update running-config, certs
  config/bootstrap.xml
  config/running-config.xml
  docs/certificates/aw3lpaltest01-mgmt/cert_aw3lpaltest01-mgmt.pem
  docs/certificates/aw3lpaltest01/cert_aw3lpaltest01.pem
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

pipeline: update trigger exclude
  pipelines/pipeline_single_firewall.yml
Due: none

azure.azcli: update certbot
  azure.azcli
Due: pipelines/pipeline_main.yml

azure.azcli: update 24
  azure.azcli
Due: pipelines/pipeline_main.yml

pipeline: update azureServicePrincipal
  pipelines/pipeline_single_firewall.yml
Due: none

firewall: add nsg,subnets; pipeline: comment out wait
  azure.azcli
  firewall.json
  pipelines/pipeline_single_firewall.yml
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

firewall: no deploy firewall,server
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

firewall: comment out outputs
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

add dc-server.json; firewall: update NSG
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

add dc-server.json; firewall: update NSG
  dc-server.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

firewall: update NSG 1200
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

add user-id-agent.json; update running-config
  config/running-config.xml
  user-id-agent.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

firewall: update nsg AllowInsideServices
  docs/certificates/aw3lpaltest01/cert.pem
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

firewall: fix dc-subnet, agent-subnet; enable firewall condition parameter
  firewall.json
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml

update pipeline
  pipelines/pipeline_single_firewall.yml
Due: none

move README
  README.md
Due: pipelines/pipeline_main.yml, pipelines/pipeline_single_firewall.yml
